/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";
@font-face  {
  font-family: "League Gothic";
  src: url(../fonts/leaguegothic-regular-webfont.woff);
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?t09f34');
	src:url('../fonts/icomoon.eot?#iefixt09f34') format('embedded-opentype'),
		url('../fonts/icomoon.woff?t09f34') format('woff'),
		url('../fonts/icomoon.ttf?t09f34') format('truetype'),
		url('../fonts/icomoon.svg?t09f34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


$font-stack: "Open Sans", sans-serif;
$lato-stack: "Lato", sans-serif;
$nav-color: #363636;
$light-font: #d7d7d7;

body {
  font-family: "Open Sans" !important;
}

/* Utility Classes */
.vert-align {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sub-heading {
  font-size: $h4-font-size !important;
  font-weight: 300;
  margin-top: rem-calc(24);
}

.dark {
  h2 {
    color: $white;
  }
}

#me {
  font-family: "League Gothic", sans-serif;
  font-size: rem-calc(36);
}

#hero { // TODO: ADD BROWER COMPATIBILITY TO BACKGROUND SIZE
  display: table;
  position: relative;
  background: url(../images/cover.jpg) no-repeat center center scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: 0;

  #heading h1 {
    color: #ffffff;
    font-size: rem-calc(24);
  }

  .learn-button {
    @include button($bg-hover: white, $border-color: white);
    color: $white;
    margin-top: rem-calc(55);
  }
}

#about {
  padding: rem-calc(55) 0;

  article.interest {
    h3 { margin-top:rem-calc(55); }

    .circle {
      width: 100%;
      height: 0;
      margin-top: rem-calc(55);
      padding-bottom: 100%;
      border-radius: 50%;
      background-size: cover;
    }
  }

  article.interest.dance .circle { background-image: url(../images/dance.jpg); }
  article.interest.computer .circle { background-image: url(../images/computer.jpg); }
  article.interest.food .circle { background-image: url(../images/food.jpg); }

  article.bio { margin: 0.25rem; }
}

#skills {
  background-color: $primary-color;
  margin-top: rem-calc(55);
  padding-top: rem-calc(55);
  color: $white;

  h4 {
    color: $white;
    font-weight: bold;
    margin: rem-calc(20) 0;
  }

  p {
    font-size: $h6-font-size;
    font-weight: 300;
  }

  article {
    padding: rem-calc(55) 0;
  }

  .icon-embed2:before {
  	content: "\ea80";
    font-size: rem-calc(100);
  }

  .icon-tablet:before {
    content: "\e95a";
    font-size: rem-calc(100);
  }

  .icon-pencil:before {
  	content: "\e905";
    font-size: rem-calc(100);
  }
}

#portfolio {
  padding: rem-calc(55) 0;

  .items {
    margin-top: rem-calc(25);

    .project {
      p {
        margin: 0;

        &:nth-child(2) {
          margin-top: 0.5rem;
        }
      }

      h3 {
        font-size: $h4-font-size;
      }

      .project-pic {
        background-color: $primary-color;
        border: 1px solid #ebebeb;
        overflow: hidden;
        position: relative;

        img {
          opacity: 1;
          -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
          transition: opacity 0.45s, transform 0.45s;
          -webkit-transform: scale(1.25);
          transform: scale(1.25);
        }

        &:hover img {
          opacity: 0.5;
        	-webkit-transform: scale(1);
        	transform: scale(1);
        }

        p {
          color: $white;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          transition: opacity 0.35s, transform 0.35s;
          transform: translate3d(0, 20px, 0) scale(1.1);
        }

        &:hover p{
            opacity: 1;
            transform: translate3d(0,-10px,0) scale(1);
          }
      }
    }
  }
}

#timeline {
  background-color: #ebebeb;
  padding: rem-calc(55) 0;

  .tl-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto !important;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  #tang-timeline {
    position: relative;
    padding: 2em 0;
    margin: 2em 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 18px;
      height: 100%;
      width: 4px;
      background: $light-font;
    }
  }

  .timeline-block {
    position: relative;
    margin: 2em 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $light-font;

    span {
      color: $white;
      font-size: rem-calc(24);
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -12px;
    }
  }

  .tl-picture {
    background: $primary-color;
  }

  .icon-book:before { content: '\e91f'; }
  .icon-mobile:before { content: '\e958'; }
  .icon-database:before { content: '\e964'; }

  .timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 $light-font;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &:before {
      content: '';
      position: absolute;
      top: 16px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 7px solid white;
    }

    h2 {
      color: #303e49;
    }

    p, .date {
      font-size: 1rem;
      font-size: 0.8125rem;
    }

    .date {
      display: inline-block;
      padding: .8em 0 0;
      opacity: .7;
    }

    p {
      margin: 1em 0 0;
      line-height: 1.6;
    }

    em {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 1170px) {
    #tang-timeline {
      margin: 3em 0;

      &:before {
        left: 50%;
        margin-left: -2px;
      }
    }

    .timeline-block {
      margin: 4em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) .timeline-content {
        float: right;

        &:before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: white;
        }

        .date {
          left: auto;
          right: 122%;
          text-align: right;
        }
      }
    }

    .timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    .timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;

      &:before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
      }

      .date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

#contact {
  background-color: $jet;
  color: $aluminum;
  padding: rem-calc(55) 0;

  .social li {
    display: inline-block;
    list-style-type: none;
    font-size: rem-calc(55);

    .icon-facebook:before { content: '\e603'; }
    .icon-twitter:before { content: '\e602'; }
    .icon-linkedin:before { content: '\e601'; }
    .icon-github:before { content: '\e600'; }
  }
}
