/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";
@font-face  {
  font-family: "League Gothic";
  src: url(../fonts/leaguegothic-regular-webfont.woff);
}

$font-stack: "Open Sans", sans-serif;
$lato-stack: "Lato", sans-serif;
$nav-color: #363636;
$light-font: #d7d7d7;

body {
  font-family: "Open Sans" !important;
}

/* Utility Classes */
.vert-align {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#me {
  font-family: "League Gothic", sans-serif;
  font-size: rem-calc(36);
}

#hero {
  display: table;
  position: relative;
  background: url(../images/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: 0;

  #heading h1 {
    color: #ffffff;
    font-size: rem-calc(24);
  }

  .learn-button {
    @include button($bg-hover: white, $border-color: white);
    color: $white;
    margin-top: rem-calc(55);
  }
}

#about {
  margin-top: rem-calc(55);
}
